@model IEnumerable<Entities_Layer.Tiendas>

@{
    ViewBag.Title = "Tienditas";
}

<h2>Tienditas</h2>

<div class="btn btn-info tienditas">
    @Html.ActionLink("Create New", "Create")
</div>


<style>
    .tienditas a{
        color: white;
        margin: 10px;
    }
</style>

@foreach (var item in Model) {

  
    <div class="card" style="width: 100%; margin: 50px;">
        <img class="card-img-top" src="@item.url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.direccion)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.telefono)</p>
            <div class="btn btn-primary tienditas">
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </div>
            <div class="btn btn-success tienditas">
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </div>
            <div class="btn btn-danger tienditas">
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </div>
        </div>
    </div>

}

