@model IEnumerable<Entities_Layer.Productos>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<div class="btn btn-info productitos">
    @Html.ActionLink("Create New", "Create")
</div>

<style>
    .productitos a {
        color: white;
        margin: 10px;
    }
</style>

@foreach (var item in Model) {


    <div class="card" style="width: 100%; margin-top: 30px;  margin-bottom: 30px; height: 25%;">
        <img class="card-img-top" src="@item.url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
            <h4 class="card-subtitle">@Html.DisplayFor(modelItem => item.precio)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Marcas.nombre)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Categorias.nombre)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.fecha_vencimiento)</p>
            <div class="btn btn-primary productitos">
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </div>
            <div class="btn btn-success productitos">
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </div>
            <div class="btn btn-danger productitos">
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </div>
        </div>
    </div>
}

